

    <div class="section-banner">
      <!-- SECTION BANNER ICON -->
      <img class="section-banner-icon" src="assets/vecimarket/img/banner/overview-icon.png" alt="overview-icon">
      <!-- /SECTION BANNER ICON -->
  
      <!-- SECTION BANNER TITLE -->
      <p class="section-banner-title">Overview</p>
      <!-- /SECTION BANNER TITLE -->
  
      <!-- SECTION BANNER TEXT -->
      <p class="section-banner-text">Review your account, see stats and more!</p>
      <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <!-- SECTION HEADER -->
    <div class="section-header">
      <!-- SECTION HEADER INFO -->
      <div class="section-header-info">
        <!-- SECTION PRETITLE -->
        <p class="section-pretitle">Overview</p>
        <!-- /SECTION PRETITLE -->
  
        <!-- SECTION TITLE -->
        <h2 class="section-title">My Profile</h2>
        <!-- /SECTION TITLE -->
      </div>
      <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->

    <!-- GRID -->
    <div class="grid">
      <!-- GRID -->
      <div class="grid grid-3-3-3-3 centered">
        <!-- STATS BOX -->
        <div class="stats-box small stat-profile-views">
          <!-- STATS BOX VALUE WRAP -->
          <div class="stats-box-value-wrap">
            <!-- STATS BOX VALUE -->
            <p class="stats-box-value">87.365</p>
            <!-- /STATS BOX VALUE -->
      
            <!-- STATS BOX DIFF -->
            <div class="stats-box-diff">
              <!-- STATS BOX DIFF ICON -->
              <div class="stats-box-diff-icon positive">
                <!-- ICON PLUS SMALL -->
                <svg class="icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /ICON PLUS SMALL -->
              </div>
              <!-- /STATS BOX DIFF ICON -->
      
              <!-- STATS BOX DIFF VALUE -->
              <p class="stats-box-diff-value">3.2%</p>
              <!-- /STATS BOX DIFF VALUE -->
            </div>
            <!-- /STATS BOX DIFF -->
          </div>
          <!-- /STATS BOX VALUE WRAP -->
      
          <!-- STATS BOX TITLE -->
          <p class="stats-box-title">Profile Views</p>
          <!-- /STATS BOX TITLE -->
      
          <!-- STATS BOX TEXT -->
          <p class="stats-box-text">In the last month</p>
          <!-- /STATS BOX TEXT -->
        </div>
        <!-- /STATS BOX -->

        <!-- STATS BOX -->
        <div class="stats-box small stat-posts-created">
          <!-- STATS BOX VALUE WRAP -->
          <div class="stats-box-value-wrap">
            <!-- STATS BOX VALUE -->
            <p class="stats-box-value">294</p>
            <!-- /STATS BOX VALUE -->
      
            <!-- STATS BOX DIFF -->
            <div class="stats-box-diff">
              <!-- STATS BOX DIFF ICON -->
              <div class="stats-box-diff-icon positive">
                <!-- ICON PLUS SMALL -->
                <svg class="icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /ICON PLUS SMALL -->
              </div>
              <!-- /STATS BOX DIFF ICON -->
      
              <!-- STATS BOX DIFF VALUE -->
              <p class="stats-box-diff-value">0.4%</p>
              <!-- /STATS BOX DIFF VALUE -->
            </div>
            <!-- /STATS BOX DIFF -->
          </div>
          <!-- /STATS BOX VALUE WRAP -->
      
          <!-- STATS BOX TITLE -->
          <p class="stats-box-title">Posts Created</p>
          <!-- /STATS BOX TITLE -->
      
          <!-- STATS BOX TEXT -->
          <p class="stats-box-text">In the last month</p>
          <!-- /STATS BOX TEXT -->
        </div>
        <!-- /STATS BOX -->

        <!-- STATS BOX -->
        <div class="stats-box small stat-reactions-received">
          <!-- STATS BOX VALUE WRAP -->
          <div class="stats-box-value-wrap">
            <!-- STATS BOX VALUE -->
            <p class="stats-box-value">2.560</p>
            <!-- /STATS BOX VALUE -->
      
            <!-- STATS BOX DIFF -->
            <div class="stats-box-diff">
              <!-- STATS BOX DIFF ICON -->
              <div class="stats-box-diff-icon negative">
                <!-- ICON MINUS SMALL -->
                <svg class="icon-minus-small">
                  <use xlink:href="#svg-minus-small"></use>
                </svg>
                <!-- /ICON MINUS SMALL -->
              </div>
              <!-- /STATS BOX DIFF ICON -->
      
              <!-- STATS BOX DIFF VALUE -->
              <p class="stats-box-diff-value">1.8%</p>
              <!-- /STATS BOX DIFF VALUE -->
            </div>
            <!-- /STATS BOX DIFF -->
          </div>
          <!-- /STATS BOX VALUE WRAP -->
      
          <!-- STATS BOX TITLE -->
          <p class="stats-box-title">Reactions Received</p>
          <!-- /STATS BOX TITLE -->
      
          <!-- STATS BOX TEXT -->
          <p class="stats-box-text">In the last month</p>
          <!-- /STATS BOX TEXT -->
        </div>
        <!-- /STATS BOX -->

        <!-- STATS BOX -->
        <div class="stats-box small stat-comments-received">
          <!-- STATS BOX VALUE WRAP -->
          <div class="stats-box-value-wrap">
            <!-- STATS BOX VALUE -->
            <p class="stats-box-value">947</p>
            <!-- /STATS BOX VALUE -->
      
            <!-- STATS BOX DIFF -->
            <div class="stats-box-diff">
              <!-- STATS BOX DIFF ICON -->
              <div class="stats-box-diff-icon positive">
                <!-- ICON PLUS SMALL -->
                <svg class="icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /ICON PLUS SMALL -->
              </div>
              <!-- /STATS BOX DIFF ICON -->
      
              <!-- STATS BOX DIFF VALUE -->
              <p class="stats-box-diff-value">4.5%</p>
              <!-- /STATS BOX DIFF VALUE -->
            </div>
            <!-- /STATS BOX DIFF -->
          </div>
          <!-- /STATS BOX VALUE WRAP -->
      
          <!-- STATS BOX TITLE -->
          <p class="stats-box-title">Comments Received</p>
          <!-- /STATS BOX TITLE -->
      
          <!-- STATS BOX TEXT -->
          <p class="stats-box-text">In the last month</p>
          <!-- /STATS BOX TEXT -->
        </div>
        <!-- /STATS BOX -->
      </div>
      <!-- /GRID -->

      <!-- GRID -->
      <div class="grid grid-layout-1">
        <!-- GRID COLUMN -->
        <div class="grid-sidebar">
          <!-- PROFILE STATS -->
          <div class="profile-stats fixed-height">
            <!-- PROFILE STATS COVER -->
            <div class="profile-stats-cover">
              <!-- PROFILE STATS COVER TITLE -->
              <p class="profile-stats-cover-title">Welcome Back!</p>
              <!-- /PROFILE STATS COVER TITLE -->
        
              <!-- PROFILE STATS COVER TEXT -->
              <p class="profile-stats-cover-text">Marina Valentine</p>
              <!-- /PROFILE STATS COVER TEXT -->
            </div>
            <!-- /PROFILE STATS COVER -->
        
            <!-- PROFILE STATS INFO -->
            <div class="profile-stats-info">
              <!-- USER AVATAR -->
              <div class="user-avatar medium">
                <!-- USER AVATAR BORDER -->
                <div class="user-avatar-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-120-132"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR BORDER -->
            
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-82-90" data-src="assets/vecimarket/img/avatar/01.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
            
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-100-110"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
            
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-100-110"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
            
                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-32-36"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->
            
                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-26-28"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->
            
                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text">24</p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </div>
              <!-- /USER AVATAR -->
        
              <!-- FEATURED STAT LIST -->
              <div class="featured-stat-list">
                <!-- FEATURED STAT -->
                <div class="featured-stat">
                  <!-- FEATURED STAT ICON -->
                  <svg class="featured-stat-icon icon-status">
                    <use xlink:href="#svg-status"></use>
                  </svg>
                  <!-- /FEATURED STAT ICON -->
        
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">28.4</p>
                  <!-- /FEATURED STAT TITLE -->
        
                  <!-- FEATURED STAT SUBTITLE -->
                  <p class="featured-stat-subtitle">Posts</p>
                  <!-- /FEATURED STAT SUBTITLE -->
        
                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Avg Month</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT -->
        
                <!-- FEATURED STAT -->
                <div class="featured-stat">
                  <!-- FEATURED STAT ICON -->
                  <svg class="featured-stat-icon icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                  <!-- /FEATURED STAT ICON -->
        
                  <!-- FEATURED STAT TITLE -->
                  <p class="featured-stat-title">69.7</p>
                  <!-- /FEATURED STAT TITLE -->
        
                  <!-- FEATURED STAT SUBTITLE -->
                  <p class="featured-stat-subtitle">Comments</p>
                  <!-- /FEATURED STAT SUBTITLE -->
        
                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Avg Month</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT -->
              </div>
              <!-- /FEATURED STAT LIST -->
        
              <!-- FEATURED STAT LIST -->
              <div class="featured-stat-list">
                <!-- FEATURED STAT -->
                <div class="featured-stat">
                  <!-- PROGRESS ARC WRAP -->
                  <div class="progress-arc-wrap small">
                    <!-- PROGRESS ARC -->
                    <div class="progress-arc">
                      <canvas id="posts-engagement-chart"></canvas>
                    </div>
                    <!-- PROGRESS ARC -->
              
                    <!-- PROGRESS ARC INFO -->
                    <div class="progress-arc-info">
                      <!-- PROGRESS ARC TITLE -->
                      <p class="progress-arc-title">87%</p>
                      <!-- /PROGRESS ARC TITLE -->
                    </div>
                    <!-- /PROGRESS ARC INFO -->
                  </div>
                  <!-- /PROGRESS ARC WRAP -->
        
                  <!-- FEATURED STAT SUBTITLE -->
                  <p class="featured-stat-subtitle">Posts</p>
                  <!-- /FEATURED STAT SUBTITLE -->
        
                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Engagement</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT -->
        
                <!-- FEATURED STAT -->
                <div class="featured-stat">
                  <!-- PROGRESS ARC WRAP -->
                  <div class="progress-arc-wrap small">
                    <!-- PROGRESS ARC -->
                    <div class="progress-arc">
                      <canvas id="posts-shared-chart"></canvas>
                    </div>
                    <!-- PROGRESS ARC -->
        
                    <!-- PROGRESS ARC INFO -->
                    <div class="progress-arc-info">
                      <!-- PROGRESS ARC TITLE -->
                      <p class="progress-arc-title">42%</p>
                      <!-- /PROGRESS ARC TITLE -->
                    </div>
                    <!-- /PROGRESS ARC INFO -->
                  </div>
                  <!-- /PROGRESS ARC WRAP -->
        
                  <!-- FEATURED STAT SUBTITLE -->
                  <p class="featured-stat-subtitle">Posts</p>
                  <!-- /FEATURED STAT SUBTITLE -->
        
                  <!-- FEATURED STAT TEXT -->
                  <p class="featured-stat-text">Shared</p>
                  <!-- /FEATURED STAT TEXT -->
                </div>
                <!-- /FEATURED STAT -->
              </div>
              <!-- /FEATURED STAT LIST -->
            </div>
            <!-- /PROFILE STATS INFO -->
          </div>
          <!-- /PROFILE STATS -->
        </div>
        <!-- /GRID COLUMN -->

        

        <!-- GRID COLUMN -->
        <div class="grid-content">
          <!-- WIDGET BOX -->
         
          <!-- /WIDGET BOX -->
        </div>
        <!-- /GRID COLUMN -->

        <!-- GRID COLUMN -->
        <div class="grid-column grid-content-sidebar">
          <!-- STATS DECORATION -->
          <div class="stats-decoration v2 big secondary">
            <!-- STATS DECORATION TITLE -->
            <p class="stats-decoration-title">33</p>
            <!-- /STATS DECORATION TITLE -->
        
            <!-- STATS DECORATION SUBTITLE -->
            <p class="stats-decoration-subtitle">Post Engagements</p>
            <!-- /STATS DECORATION SUBTITLE -->
        
            <!-- STATS DECORATION TEXT -->
            <p class="stats-decoration-text">Today</p>
            <!-- /STATS DECORATION TEXT -->
        
            <!-- PERCENTAGE DIFF -->
            <div class="percentage-diff">
              <!-- PERCENTAGE DIFF ICON WRAP -->
              <div class="percentage-diff-icon-wrap positive">
                <!-- PERCENTAGE DIFF ICON -->
                <svg class="percentage-diff-icon icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /PERCENTAGE DIFF ICON -->
              </div>
              <!-- /PERCENTAGE DIFF ICON WRAP -->
        
              <!-- PERCENTAGE DIFF TEXT -->
              <p class="percentage-diff-text">5.3%</p>
              <!-- /PERCENTAGE DIFF TEXT -->
            </div>
            <!-- /PERCENTAGE DIFF -->
          </div>
          <!-- /STATS DECORATION -->
        
          <!-- STATS DECORATION -->
          <div class="stats-decoration v2 big primary">
            <!-- STATS DECORATION TITLE -->
            <p class="stats-decoration-title">126</p>
            <!-- /STATS DECORATION TITLE -->
        
            <!-- STATS DECORATION SUBTITLE -->
            <p class="stats-decoration-subtitle">Profile Views</p>
            <!-- /STATS DECORATION SUBTITLE -->
        
            <!-- STATS DECORATION TEXT -->
            <p class="stats-decoration-text">Today</p>
            <!-- /STATS DECORATION TEXT -->
        
            <!-- PERCENTAGE DIFF -->
            <div class="percentage-diff">
              <!-- PERCENTAGE DIFF ICON WRAP -->
              <div class="percentage-diff-icon-wrap negative">
                <!-- PERCENTAGE DIFF ICON -->
                <svg class="percentage-diff-icon icon-minus-small">
                  <use xlink:href="#svg-minus-small"></use>
                </svg>
                <!-- /PERCENTAGE DIFF ICON -->
              </div>
              <!-- /PERCENTAGE DIFF ICON WRAP -->
        
              <!-- PERCENTAGE DIFF TEXT -->
              <p class="percentage-diff-text">4.7%</p>
              <!-- /PERCENTAGE DIFF TEXT -->
            </div>
            <!-- /PERCENTAGE DIFF -->
          </div>
          <!-- /STATS DECORATION -->
        </div>
        <!-- /GRID COLUMN -->
    </div>
      <!-- /GRID -->

      