    <div class="content-body">
        <div class="container-fluid">
            <div class="page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="../integrationsAll">Integraciones</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Agregar integración</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-xxl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="card-body">
    
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="">
                                          <div class="">
                                            <ngx-awesome-uploader
                                            [adapter]="adapter"
                                            [captions]="captions">
                                            </ngx-awesome-uploader>
                                          </div>
                                        </div>
                                      </div>
                                    <div class="col-md-6">
                                    
                                    <div class="">
                                        <div class="">
                                        <div class="form-group">
                                            <label for="event-name">Nombre de la integración</label>
                                            <input  class="form-control" placeholder="nombre"type="text" [(ngModel)]="data.name" name="name" required  [ngModelOptions]="{standalone: true}">
                                        </div>
                                        </div>
                                    </div>
                                  
    
                                    </div>
                                </div>
                                <div class="popup-box-actions medium void text-right">
                                  <button class="btn btn-primary" id="closeButton"  (click)="onSubmit()">Guardar!</button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    