<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="../cateall">Industrias</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Detalle</a></li>
            </ol>
            <ol class="breadcrumb" style="justify-content: end;">
                <li>
                    <button class="btn btn-primary1 ml-auto" (click)="editCategory()" style="display: flex; flex-direction: column; align-items: center;">
                      <i class="feather icon-drawar" style="margin-bottom: 5px;"></i>
                      Editar
                    </button>
                  </li>
                  
                <li>
                    <button [swal]="
                    {title: '<strong>Borrar categoria <u></u></strong>', icon: 'error',
                    html: 'Confirma que desea eliminar esta categoria ?',
                    showCloseButton: true,
                    showCancelButton: true,
                    cancelButtonColor: '#101554',
                    confirmButtonColor: '#ff3366',
                    focusConfirm: true,
                    confirmButtonText:' Borrar',
                    confirmButtonAriaLabel: 'Thumbs up, great!',
                    cancelButtonText: ' Cancelar',
                    cancelButtonAriaLabel: 'Thumbs down'
                    }"
                    (confirm)="delete()"
                    (dismiss)="cancelDelete()"
                     class="btn btn-outline-danger light  ml-auto btn-xs" style="margin-right:10%;">
                    <i class="feather icon-trash"></i> Borrar
                    </button>
                   </li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            
                            <!--Tab slider End-->
                            <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12">
                                <div class="product-detail-content">
                                    <!--Product details-->
                                    <div class="new-arrival-content pr">
                                        <h4>{{yeoman.preview.name}}</h4>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- review -->
            
        </div>
    </div>
</div>