<!-- 
    <div class="section-header">
    
        <div class="section-header-info">
        
          <p class="section-pretitle">Search what you want!</p>
        
          <h2 class="section-title">Market Categories</h2>
         
        </div>
      
      </div> 

  <div class="grid grid-4-4-4-4 centered">

    <swiper [config]="config" > 
        <div class="swiper-wrapper" >
            <div class="swiper-slide " style="cursor: pointer;" >
              <a class="product-category-box category-all" href="marketplace-category.html">
           
                <p class="product-category-box-title">Browse All</p>
           
            
       
                <p class="product-category-box-text">Check out all items</p>
       
         
                <p class="product-category-box-tag">1360 items</p>
            
              </a>                          
            </div>
            <div class="swiper-slide " style="cursor: pointer;" >
              <a class="product-category-box category-all" href="marketplace-category.html">
         
                <p class="product-category-box-title">Browse All</p>
     
            
         
                <p class="product-category-box-text">Check out all items</p>
        
            
     
                <p class="product-category-box-tag">1360 items</p>
              
              </a>                          
            </div>
            <div class="swiper-slide " style="cursor: pointer;" >
              <a class="product-category-box category-all" href="marketplace-category.html">
              
                <p class="product-category-box-title">Browse All</p>
               
            
            
                <p class="product-category-box-text">Check out all items</p>
            
            
            
                <p class="product-category-box-tag">1360 items</p>
              
              </a>                          
            </div>
            <div class="swiper-slide " style="cursor: pointer;" >
              <a class="product-category-box category-all" href="marketplace-category.html">
             
                <p class="product-category-box-title">Browse All</p>
         
            
               
                <p class="product-category-box-text">Check out all items</p>
               
            
        
                <p class="product-category-box-tag">1360 items</p>
        
              </a>                          
            </div>
            <div class="swiper-slide " style="cursor: pointer;" >
              <a class="product-category-box category-all" href="marketplace-category.html">
               
                <p class="product-category-box-title">Browse All</p>
            
                <p class="product-category-box-text">Check out all items</p>
         
                <p class="product-category-box-tag">1360 items</p>
     
              </a>                          
            </div>
            <div class="swiper-slide " style="cursor: pointer;" >
              <a class="product-category-box category-all" href="marketplace-category.html">
            
                <p class="product-category-box-title">Browse All</p>
          
                <p class="product-category-box-text">Check out all items</p>
        
                <p class="product-category-box-tag">1360 items</p>
            
              </a>                          
            </div>
            
        </div>                    
        <div class="swiper-button-prev" style="color: #fd7e14;" ></div>
        <div class="swiper-button-next" style="color: #fd7e14;"></div>
    </swiper>
   
  
   
  </div> -->
