.btn-primary1{
    color: #0a6ed5;
    border-color: #1367c8;
    margin-right: 5px;
    padding: 0.438rem 1rem;
    font-weight: 600;
    border-radius: 1.25rem;
    font-size: small;
  }
  .btn-outline-danger {
    color: #F94687;
    border-color: #F94687;
}
.light, .btn-danger{
    background-color: #fff3f7;
    border-color: #F94687;
    color: #F94687;
}

.testimonial {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.testimonial h4 {
    font-size: 24px;
    color: #333;
}

.testimonial-title {
    font-size: 18px;
    color: #777;
    margin-top: 10px;
}

.testimonial-detail {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}
.fixed-size-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
